
<%= render 'shared/header',obj:'Edit Address' %>
<div class="container" style="margin-top:100px"><br>
<%= render 'form', buyer_address: @buyer_address %><br>
<%= link_to 'Show', @buyer_address %> 
</div>


