<% if resource.errors.any? %>
  <div  class="alert alert-danger alert-dismissible fade show" role="alert">
    <h5 class="alert-heading" style="text-align:left"><%= resource.errors.count%> errors prohibited this buyer from being saved:</h5>
    <ul style="text-align:left">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
   
  </div>
<% end %>
